# 파이썬 컴파일 파일 (불필요)
__pycache__/
*.py[cod]

# 가상환경 폴더 (내 컴퓨터 전용 설정이라 공유 금지)
venv/
env/
.venv/

# 환경설정 파일 (비밀번호 등 보안 정보)
.env

# 주피터 노트북 임시파일
.ipynb_checkpoints/

# IDE 설정 파일 (각자 취향이므로 공유 X)
.vscode/
.idea/